.chart-menu {
    position: absolute;
    right: 0;
    top: 85px;
    background-color: #154273;
    color: #F3F3F3;
    height: 90vh;
    width: 15vw;
    padding-left: 10px;
    z-index: 1;
    display: block;
    box-shadow: 2px 2px 5px rgba(5, 5, 5, .4);
}

.chart-holder {
    padding-top: 15px;
    width: 78vw;
    height: 90vh;
}

section.chart-placeholder {
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 82vw;
    height: 80vh;
}

section.chart-placeholder img {
    opacity: 0.5;
    z-index: -100;
    width: 20vw;
    display: block;
}

/* NEW CHART PAGE */

.formControl {
    margin-top: 10px;
    width: 95%;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(14, 121, 191, 0.4);
}

.label-white {
    color: #F2F2F2;
}
