.container {
    background: #F3F3F3;
    padding: 0;
    width: 400px;
    border-radius: 15px;
    display: block;
    margin: 12.5% auto auto;
}

.input {
    margin: 20px 75px 0;
}

.link {
    color: #154273;
}

.buttons {
    margin-top: 3em;
    padding-bottom: 20px;
    justify-content: space-evenly;
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    margin: auto;
}
div.center {
    padding-bottom: 25px;
}
.space-between {
    justify-content: space-between;
}
