.container {
    background: #F3F3F3;
    padding: 0;
    width: 400px;
    border-radius: 20px;
    display: block;
    margin: 12.5% auto auto;
}

.input {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
}

.link {
    color: #154273;
}

.buttons {
    margin-top: 3em;
    padding-bottom: 20px;
    justify-content: space-evenly;
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    margin: auto;
}

.space-between {
    justify-content: space-between;
}

.error {
    background: #ff9d96;
    border-radius: 5px;
    border: 2px solid #ff0000;
    width: 400px;
    height: 25px;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: auto auto 2px;
}
.success {
    background: #bbff96;
    border-radius: 5px;
    border: 2px solid #00ff00;
    width: 400px;
    height: 25px;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: auto auto 2px;
}
