#map {
    margin-top: 20px;
    border-radius: 10px;
    height: 85vh;
    width: 60vw;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

div.marker {
    margin-left: 10px;
    margin-top: 20px;
}

div.container {
    display: flex;
}

.paper {
    width: 35vw;
    height: 100px;
    border-radius: 10px;
    background-color: #F3F3F3
}


