#map {
    margin-top: 20px;
    border-radius: 10px;
    height: 85vh;
    width: 60vw;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

div.marker {
    margin-left: 10px;
    margin-top: 20px;
}

div.container {
    display: flex;
}

.paper {
    border-radius: 10px;
    background-color: #F3F3F3;
    padding-bottom: 10px;
    max-width: 35vw;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

div.leaflet-div-icon {
    background: none;
    border: none;
}

.cluster {
    background-color: #F9E11E;
    border: 1px solid;
    border-radius: 100%;
    width: 35px;
    height: 35px;
}

.leaflet-tooltip.tooltip {
    background: #F3F3F3;
    border: 2px solid white;
    border-radius: 10px;
    color: #222222;
    transition: opacity ease-in-out 0.2s;
}
.leaflet-tooltip-left.tooltip::before {
    border-left-color: white;
}
.leaflet-tooltip-right.tooltip::before {
    border-right-color: white;
}
