@main("Grafieken") {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/charts.css")">

    <section>
        <div class="chart-menu"></div>
    </section>

    <section id="chart-holder" hidden>
        <div class="chart-holder"></div>
    </section>

    <section class="chart-placeholder">
        <img src="@routes.Assets.versioned("images/placeholder-statistics.svg")" alt="chart"/>
    </section>

    <script src="@routes.Assets.versioned("javascripts/charts.bundle.js")"></script>

}
