<!DOCTYPE html>
<link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'/>
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/material.min.css")" />
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/login.css")" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<html lang="en">
    <head>
        <title>Aanmelden</title>
    </head>

    <body>
        <div id="snackbar-holder"></div>
        <div class="container"></div>

        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script defer src="@routes.Assets.versioned("javascripts/login.bundle.js")"></script>
    </body>
</html>


