@main("Map") {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/maps.css")"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>

    <div class="container">
        <div id="map"></div>
        <div>
            <div class="marker marker-info paper">
                <div>
                    <p style="margin-left: 10px">Ga met de cursor over een punt heen om de gegevens in te zien.</p>
                </div>
            </div>
            <div class="marker marker-chart paper">
                <p style="margin-left: 10px">Hello im a daily chart!</p>
            </div>
            <div class="marker marker-chart paper">
                <p style="margin-left: 10px">Hello im a weekly chart!</p>
            </div>
            <div class="marker marker-chart paper">
                <p style="margin-left: 10px">Hello im a random chart!</p>
            </div>
        </div>
    </div>

    <script src="@routes.Assets.versioned("javascripts/maps.bundle.js")"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="https://unpkg.com/leaflet@@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
}
